body{
    width:auto;
    height:auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.personal-form{
    background-color: #ACE5EE;
    box-shadow: 0 0 1em #043A6B;
    margin:2.5em auto;
    border-radius: 1em;
    padding:2.5em;
    color: #043A6B;
}

.form-content{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
    width:70vw;
}

table{
    text-align: center;
}