/* *{
    border:1px solid black;
} */
body{
    padding: 0;
    margin:0;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(45deg,#2271B3,#ACE5EE);
    font-family: Helvetica;
    color:	#ACE5EE;
}

ul{
    padding: 0;
}

ul>li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

main{
    width: 98vw;
    max-width: 65em;
    align-self: center; 
}

footer{
    width: 98vw;
    max-width: 65em;
    align-self: center; 
}

header{
    width: 98vw;
    max-width: 65em;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.logo{
    background-image: url("images/логотип/Autobus.png");
    background-repeat: no-repeat;
    background-size: 6em auto;
    width:6em;
    height: 5em;
}

ul.navigation{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: center;
    float:right;
    background-image: linear-gradient(45deg,#6212b7,#224eb3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

ul.navigation>li{
    padding-right:1em;
}

ul.navigation>li:last-child{
    padding: 0;
}

.description{
    margin:0 2em;
}

.principles{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.principles li{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.principle-image{
    width:10em;
}

.trust{
    margin:0 2em
}

.search-form{
    padding:0 5vw 1em;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    color:	#ACE5EE;
    background-color: #408DD2;
}

div.search-inputs{
    width: 90vw;
    max-width: 55em;
    display: grid;
    gap: 0.5em;
    grid-template-columns: auto 1fr 1fr;
}

div.search-form input{
    grid-column-start: 2;
    grid-column-end: 4;
}

div.search-form label{
    width:max-content;
}

[type="button"]{
    width:10em;
    height:2em;
    align-self: flex-end;
    margin-top:1em;
    border-radius: .5em;

}

div.search-form [type="text"],div.search-form [type="number"]{
    background-color: #ACE5EE;
    color:#224eb3
}

.promos{
    margin:0 2em;
}

.promo{
    display: grid;
    gap: 1em;
    grid-template-columns: 10em 1fr;
    grid-template-rows: 1em 1fr 2em;
    margin:1em;
    padding-right: 1em;
}

.promo-image{
    grid-row-start: 1;
    grid-row-end: 4;
    width:10em;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: #043A6B;
}

input{
    border: 0;
}

.subscribe-on-closed-promo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
    background-color: #679FD2;
}

.navigation-links{
    display: flex;
    justify-content: space-between;
}

.navigation-links li:first-child{
    margin: 0;
}

.navigation-links li{
    margin-left:1em;
}