/* *{
    border:1px solid black;
} */
body{
    padding: 0;
    margin:0;
    display: flex;
    flex-direction: column;
    background:linear-gradient(#ACE5EE,#2271B3);
    font-family: Helvetica;
    color:	#ACE5EE;
}

ul{
    padding: 0;
}

ul>li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

input{
    border: 0;
}

main{
    width: 98vw;
    max-width: 65em;
    align-self: center; 
}

footer{
    width: 98vw;
    max-width: 65em;
    align-self: center; 
}

header{
    width: 98vw;
    max-width: 65em;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.logo{
    background-image: url("images/логотип/Autobus.png");
    background-repeat: no-repeat;
    background-size: 6em auto;
    width:6em;
    height: 5em;
}

ul.navigation{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: center;
    float:right;
    background-image: linear-gradient(45deg,#6212b7,#224eb3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

ul.navigation>li{
    padding-right:1em;
}

ul.navigation>li:last-child{
    padding: 0;
}

.form-description{
    background: url(images/scale_1200.jpg);
}

.description{
    margin:0 2em;
    background-image: linear-gradient(90deg,#00248f 65%,#ACE5EE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.principles{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.principles li{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.principle-image{
    width:10em;
}

.principles-description{
    width:40em;
}

.trust{
    margin:0 2em
}

.search-form{
    padding:0 5vw 1em;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    color:#00248f;
}

div.search-inputs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: "o . ."
                         "s do dp"
                         "k . b";
    gap:1em;
}

div.search-inputs>input{
    height:2em;
}

#flight-from{
    grid-area: o;
}

#flight-to{
    grid-area: k;
}

#departure-date{
    grid-area: do;
}

#back-date{
    grid-area: dp;
}

#passanger-count{
    grid-area: qw;
}

#bottom-arrow{
    grid-area: s;
    text-align: center;
    font-size: 2em;
}

#search-button{
    grid-area: b;
}

div.search-form label{
    width:max-content;
}

[type="button"]{
    width:10em;
    height:2em;
    align-self: flex-end;
    margin-top:1em;
    border-radius: .5em;
    background-image: linear-gradient(90deg,#8B00FF,#1F75FE,#00FF00);
    color:antiquewhite
}

div.search-form [type="text"],div.search-form [type="number"]{
    background-color: #ACE5EE;
    color:#224eb3
}

.promos{
    margin:0 2em;
}

.promotions{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1em;
}

.promo{
    display: grid;
    gap:1em;
}

.promo-image{
    grid-row-start: 1;
    grid-row-end: 4;
    width:10em;
}

.subscribe-on-closed-promo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: #043A6B;
}

.navigation-links{
    display: flex;
    justify-content: space-between;
}

.navigation-links li:first-child{
    margin: 0;
}

.navigation-links li{
    margin-left:1em;
}